body {
  background-color: #8bcf00;
  font-family: Arial, Helvetica, sans-serif;
}

h1 {
  text-align: right;
  font-weight: bold;
  font-size: 220px;
}

h2 {
  text-align: right;
  font-weight: bold;
  font-size: 120px;
  margin-top: -180px;
}

.container {
  margin-top: -180px;
}
.container p {
  text-align: right;
  font-size: small;
  margin-top: -180px;
}

a {
  color: #000;
}

a:hover {
  text-decoration: line-through;
}
